# Zadanie 13

**Iteracyjnie**

In [43]:
def factorial1(number):
    """Calculates factorial (iteratively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        Value of factorial for the first parameter
    """
    
    result = 1
    for k in range(1, number+1):
        result = result * k
        
    return result

In [40]:
[factorial1(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

**Rekurencyjna**

In [44]:
def factorial2(number):
    """Calculates factorial (recursively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        Value of factorial for the first parameter
    """
    if number == 0:
        return 1
    
    return factorial2(number-1) * number

In [42]:
[factorial2(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [46]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [47]:
print?

In [48]:
factorial1?

# Zadanie 14

**Rekurencyjna**

In [50]:
def fibonacci1(number):
    if number in {0, 1}:
        return 1
    
    return fibonacci1(number-2) + fibonacci1(number-1)

In [51]:
[fibonacci1(n) for n in range(15)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

**Iteracyjna**

**Analityczna**