# Zadanie 13

**Iteracyjnie**

In [20]:
def factorial1(number):
    """Calculates factorial (iteratively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        Value of factorial for the first parameter
    """
    
    result = 1
    for k in range(1, number+1):
        result = result * k
        
    return result

In [21]:
[factorial1(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

**Rekurencyjna**

In [22]:
def factorial2(number):
    """Calculates factorial (recursively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        Value of factorial for the first parameter
    """
    if number == 0:
        return 1
    
    return factorial2(number-1) * number

In [23]:
[factorial2(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [46]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [29]:
print?

In [48]:
factorial1?

In [26]:
%timeit factorial1(10)

100000 loops, best of 3: 3.17 µs per loop

In [27]:
%timeit factorial2(10)

100000 loops, best of 3: 4.42 µs per loop

# Zadanie 14

**Rekurencyjna**

In [3]:
def fibonacci1(number):
    """Calculates n-th Fibonacci number (recursively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        n-th Fibonacci number
    """
    
    if number in {0, 1}:
        return number
    
    return fibonacci1(number-2) + fibonacci1(number-1)

In [4]:
[fibonacci1(n) for n in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Iteracyjna**

In [9]:
def fibonacci2(number):
    """Calculates n-th Fibonacci number (iteratively)
    
    Args:
        number(int): natural number (including zero)
    
    Returns:
        n-th Fibonacci number
    """
    
    if number in {0, 1}:
        return number 
    
    results = [0, 1]

    for _ in range(2, number+1):
        results.append(results[-1]+results[-2])  

    return results[-1]

In [8]:
[fibonacci2(n) for n in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Analityczna**

In [15]:
def fibonacci3(number):
    phi = (1 + 5**0.5) / 2
    psi = 1 - phi
    
    return int((phi**number - psi**number) / 5**0.5)

In [16]:
[fibonacci3(n) for n in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [17]:
%timeit fibonacci1(15)

1000 loops, best of 3: 744 µs per loop

In [18]:
%timeit fibonacci2(15)

100000 loops, best of 3: 7.43 µs per loop

In [19]:
%timeit fibonacci3(15)

The slowest run took 4.19 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.36 µs per loop

# Zadanie 15

In [30]:
def print_docstring(function):
    print(function.__doc__)

In [31]:
print_docstring(factorial1)

Calculates factorial (iteratively)

    Args:
        number(int): natural number (including zero)

    Returns:
        Value of factorial for the first parameter

In [32]:
print_docstring(print)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

# Zadanie 17

In [25]:
def is_prime(number):
    """The function checks if the number is prime
       Args:
           number: int - natural number
       Returns:
           True if number is prime, otherwise False
    """
    if number in {0, 1}:
        return False
    
    for i in range(2, int(number**0.5)+1):
        if number % i == 0:
            return False
    return True

In [31]:
number = 2
result = is_prime(number)

# Zadanie 18

In [34]:
def print_primes(lower, upper):
    
    print([number for number in range(lower, upper) if is_prime(number)])

In [35]:
print_primes(1, 100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Zadanie 19

In [40]:
def sum_of_numbers(number):
    """Return sum of all odd numbers from 1 to number
    
    Args:
        number: int - natural number
    
    Returns:
         sum of all odd numbers from 1 to number 
    
    """
    if number == 1:
        return 1
    elif number % 2 == 0:
        return sum_of_numbers(number - 1)
    else:
        return number + sum_of_numbers(number - 2)

In [44]:
n = 98
sum_of_numbers(n)

2401

In [45]:
sum([number for number in range(1, n+1) if number % 2 != 0])

2401

# Zadanie 29

In [69]:
def eratosthenes_sieve(n):
    """Applies Eratosthenes sieve for numbers in [2, n]"""
    
    primes = set(range(2, n))
    
    divisor = 2
    to_remove = {number for number in primes - {divisor}
                     if number % divisor == 0}
    while len(to_remove):
        primes = primes - to_remove
        divisor += 1  # Powinniśmy wziąć kolejną liczbę z listy primes
        to_remove = {number for number in primes - {divisor}
                     if number % divisor == 0}
        
        print(divisor)
        print(to_remove)
        print()
   
    return primes

In [70]:
eratosthenes_sieve(100)

3
{33, 99, 69, 39, 9, 75, 45, 15, 81, 51, 21, 87, 57, 27, 93, 63}

4
set()

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 25,
 29,
 31,
 35,
 37,
 41,
 43,
 47,
 49,
 53,
 55,
 59,
 61,
 65,
 67,
 71,
 73,
 77,
 79,
 83,
 85,
 89,
 91,
 95,
 97}

In [55]:
{1, 2, 3} | {4, 5}

{1, 2, 3, 4, 5}

In [58]:
{1, 2, 3, 5} & {4, 5}

{5}

In [59]:
{1, 2, 3, 5}.difference({4, 5})

{1, 2, 3}

In [60]:
{1, 2, 3, 5} - {4, 5}

{1, 2, 3}