# Zadanie 13

In [3]:
def factorial1(n):
    """Calculates factorial (iteratively)

    Args:
        n: int -- natural number
    
    Returns:
        factorial of the given number
    """
    result = 1
    for i in range(1, n+1):
        result = result * i
        
    return result

In [60]:
[factorial1(k) for k in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [1]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [2]:
print?

**Rekurencyjnie**

In [5]:
def factorial2(n):
    """Calculates factorial (recursively)

    Args:
        n: int -- natural number
    
    Returns:
        factorial of the given number
    """
    
    if n == 0:
        return 1
    
    return factorial2(n-1) * n

In [6]:
[factorial2(k) for k in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

# Zadanie 14

**Rekurencyjnie**

In [24]:
def fibonacci1(n):
    """Calculates n-th Fibonacci number (recursively)

    Args:
        n: int -- natural number
    
    Returns:
        n-th Fibonacci number
    """
    if n in {0, 1}:
        return n

    return fibonacci1(n-2) + fibonacci1(n-1)

In [25]:
[fibonacci1(k) for k in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Iteracyjnie**

In [26]:
def fibonacci2(n):
    """Calculates n-th Fibonacci number (iteratively)

    Args:
        n: int -- natural number
    
    Returns:
        n-th Fibonacci number
    """
    if n in {0, 1}:
        return n

    recent = 1
    previous = 0
    for _ in range(2, n+1): 
        new = recent + previous
        previous, recent = recent, new

    return new

In [27]:
[fibonacci2(k) for k in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Analitycznie**

In [28]:
def fibonacci3(n):
    """Calculates n-th Fibonacci number (analitically)

    Args:
        n: int -- natural number
    
    Returns:
        n-th Fibonacci number
    """
    
    phi = (1 + 5**0.5) / 2
    psi = 1 - phi
    
    return int((phi**n - psi**n) / (5**0.5))

In [29]:
[fibonacci3(k) for k in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

Najszybsza

In [32]:
%timeit fibonacci3(20)  # analityczna

The slowest run took 5.29 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.25 µs per loop

Wolniejsza

In [35]:
%timeit fibonacci2(20) # iteracyjna

100000 loops, best of 3: 5.09 µs per loop

Najwolniejsza

In [36]:
%timeit fibonacci1(20) # rekurencyjna

100 loops, best of 3: 7.59 ms per loop

## Zadanie 15

In [40]:
def print_docstring(function):
    print(function.__doc__)

In [41]:
print_docstring(max)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [42]:
print_docstring(fibonacci1)

Calculates n-th Fibonacci number (recursively)

    Args:
        n: int -- natural number

    Returns:
        n-th Fibonacci number

# Zadanie 17

In [46]:
def is_prime(num):
    """Checks if number is prime
    
    Keyword arguments:
        num: int (natural num)
        
    Returns:
        True if num is prime
        False if num is not prime
    """
    if num < 2:
        return False
    
    for i in range(2, int((num**(0.5)))+1):
        if num%i == 0:
            return False
    
    return True

In [47]:
{n: is_prime(n) for n in range(1, 100)}

{1: False,
 2: True,
 3: True,
 4: False,
 5: True,
 6: False,
 7: True,
 8: False,
 9: False,
 10: False,
 11: True,
 12: False,
 13: True,
 14: False,
 15: False,
 16: False,
 17: True,
 18: False,
 19: True,
 20: False,
 21: False,
 22: False,
 23: True,
 24: False,
 25: False,
 26: False,
 27: False,
 28: False,
 29: True,
 30: False,
 31: True,
 32: False,
 33: False,
 34: False,
 35: False,
 36: False,
 37: True,
 38: False,
 39: False,
 40: False,
 41: True,
 42: False,
 43: True,
 44: False,
 45: False,
 46: False,
 47: True,
 48: False,
 49: False,
 50: False,
 51: False,
 52: False,
 53: True,
 54: False,
 55: False,
 56: False,
 57: False,
 58: False,
 59: True,
 60: False,
 61: True,
 62: False,
 63: False,
 64: False,
 65: False,
 66: False,
 67: True,
 68: False,
 69: False,
 70: False,
 71: True,
 72: False,
 73: True,
 74: False,
 75: False,
 76: False,
 77: False,
 78: False,
 79: True,
 80: False,
 81: False,
 82: False,
 83: True,
 84: False,
 85: False,
 86: False,
 87: False,
 88: False,
 89: True,
 90: False,
 91: False,
 92: False,
 93: False,
 94: False,
 95: False,
 96: False,
 97: True,
 98: False,
 99: False}

# Zadanie 18

In [44]:
def primes(lower, upper):
    """Returns primes in a given interval
    
    Args:
        lower: int lower boundary of the interval
        upper: int upper boundary of the interval
        
    Returns:
        List of primes in a given interval
    """
    
    return [k for k in range(lower, upper) if is_prime(k)]

In [16]:
primes(2, 100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# Zadanie 19

In [22]:
def sum_odd_numbers(n):
    if n == 1:
        return 1
    if n == 0:
        return 0
    if n % 2 == 0:  # n is even
        return (n-1) + sum_odd_numbers(n-2) # n-1 is odd  
    
    return n + sum_odd_numbers(n-2)  # n is odd

In [21]:
{n: sum_odd_numbers(n) for n in range(10)}

{0: 0, 1: 1, 2: 1, 3: 4, 4: 4, 5: 9, 6: 9, 7: 16, 8: 16, 9: 25}

# Zadanie 29

In [53]:
def eratosthenes_sieve(n):
    """Applies Eratosthenes sieve to find primes in [2, n]
    
    Args:
        n: int - natural number
        
    Returns: 
        primes in the interval [2, n]
    
    """
    
    primes = set(range(2, n+1))
 
    divisor = 2
    while True:
        # we remove numbers > divisor and divisible by divisor 
        to_remove = {i for i in primes
                     if (i % divisor == 0) and (i != divisor)}
        primes = primes - to_remove
        
        # we set divisor to be the next element in the set 'primes'
        divisor = min({element for element in primes if element > divisor})
        
        if not len(to_remove):
            break
   
    return primes

In [51]:
%timeit eratosthenes_sieve(10000)

10 loops, best of 3: 27.1 ms per loop

In [52]:
%timeit primes(2, 10000)

10 loops, best of 3: 38.3 ms per loop