# Zadanie 13

**Wersja iteracyjna**

In [35]:
def factorial1(n):
    """Calculates factorial (iteratively)
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        Factorial of n 
    """
    
    result = 1
    for k in range(1, n+1):
        result *= k
        
    return result

In [28]:
[factorial1(m) for m in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

**Wersja rekurencyjna**

In [32]:
def factorial2(n):
    """Calculates factorial (recursively)
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        Factorial of n 
    """

    if n == 0:
        return 1

    return factorial2(n-1) * n

In [30]:
[factorial2(m) for m in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [34]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [34]:
print?

In [36]:
factorial1?

# Zadanie 14

**Wersja rekurencyjna**

In [10]:
def fibonacci1(n):
    """Calculates n-th Fibonacci number (recursively)
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        n-th Fibonacci number
    """
    
    if n == 0:
        return 0
    if n == 1:
        return 1
    
    return fibonacci1(n-1) + fibonacci1(n-2)

In [11]:
[fibonacci1(m) for m in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Wersja iteracyjna**

In [12]:
def fibonacci2(n):
    """Calculates n-th Fibonacci number (iteratively)
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        n-th Fibonacci number
    """    
    
    if n == 0:
        return 0
    
    calculated = [0, 1]
    for _ in range(2, n+1):
        calculated.append(calculated[-1] + calculated[-2])

    return calculated[-1]

In [13]:
[fibonacci2(m) for m in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Analityczna**

In [14]:
def fibonacci3(n):
    """Calculates n-th Fibonacci number (analiticaly)
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        n-th Fibonacci number
    """ 
    phi = (1 + 5**0.5) / 2
    psi = 1 - phi
    
    return int((phi**n - psi**n) / 5**0.5)

In [15]:
[fibonacci3(m) for m in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [30]:
n = 30

**Najszybsza**

In [31]:
%timeit fibonacci3(n)

The slowest run took 5.20 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.21 µs per loop

**Wolniejsza**

In [32]:
%timeit fibonacci2(n)

100000 loops, best of 3: 13.7 µs per loop

**Najwolniejsza**

In [33]:
%timeit fibonacci1(n)

1 loop, best of 3: 1.08 s per loop

## Zadanie 15

In [40]:
def print_docstring(function):
    """Prints docstring of a given function
    
    Args:
        function: function - a function to print a docstring of
    """ 
    print(function.__doc__)

In [38]:
print_docstring(print)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [39]:
print_docstring(fibonacci1)

Calculates n-th Fibonacci number (recursively)

    Args:
        n: int - natural number (including zero)

    Returns:
        n-th Fibonacci number

In [41]:
print_docstring(print_docstring)

Prints docstring of a given function

    Args:
        function: function - a function to print a docstring of

In [42]:
print_docstring(max)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

# Zadanie 17

In [12]:
def is_prime(n) :
    """Checks if n is a prime number
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        True if n is prime; otherwise False
    """
    primes = [2]
    for k in range(3,n+1):
        for divisor in primes:
            if k % divisor == 0:
                break
        else:
            primes.append(k)

    if n in primes:
        return True
    else:
        return False

In [16]:
def is_prime2(n) :
    """Checks if n is a prime number
    
    Args:
        n: int - natural number (including zero)
        
    Returns:
        True if n is prime; otherwise False
    """
    
    if n in {0, 1}:
        return False
    
    for divisor in range(2, int(n**0.5) + 1):
        if n % divisor == 0:
            return False

    return True

In [17]:
{n: is_prime2(n) for n in range(100)}

{0: False,
 1: False,
 2: True,
 3: True,
 4: False,
 5: True,
 6: False,
 7: True,
 8: False,
 9: False,
 10: False,
 11: True,
 12: False,
 13: True,
 14: False,
 15: False,
 16: False,
 17: True,
 18: False,
 19: True,
 20: False,
 21: False,
 22: False,
 23: True,
 24: False,
 25: False,
 26: False,
 27: False,
 28: False,
 29: True,
 30: False,
 31: True,
 32: False,
 33: False,
 34: False,
 35: False,
 36: False,
 37: True,
 38: False,
 39: False,
 40: False,
 41: True,
 42: False,
 43: True,
 44: False,
 45: False,
 46: False,
 47: True,
 48: False,
 49: False,
 50: False,
 51: False,
 52: False,
 53: True,
 54: False,
 55: False,
 56: False,
 57: False,
 58: False,
 59: True,
 60: False,
 61: True,
 62: False,
 63: False,
 64: False,
 65: False,
 66: False,
 67: True,
 68: False,
 69: False,
 70: False,
 71: True,
 72: False,
 73: True,
 74: False,
 75: False,
 76: False,
 77: False,
 78: False,
 79: True,
 80: False,
 81: False,
 82: False,
 83: True,
 84: False,
 85: False,
 86: False,
 87: False,
 88: False,
 89: True,
 90: False,
 91: False,
 92: False,
 93: False,
 94: False,
 95: False,
 96: False,
 97: True,
 98: False,
 99: False}

In [18]:
{n: is_prime2(n) for n in range(100)} == {n: is_prime(n) for n in range(100)}

True

In [19]:
%timeit is_prime(1000)

100 loops, best of 3: 3.41 ms per loop

In [20]:
%timeit is_prime2(1000)

1000000 loops, best of 3: 1.72 µs per loop

# Zadanie 18

In [26]:
def print_primes(lower, upper):
    """Prints primes in the given interval
    
    Args:
        lower: int - lower bondary of the interval
        uppper: int - upper boundary of the interval
    
    """
    
    print([number for number in range(lower, upper) if is_prime(number)])

In [27]:
print_primes(1, 100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Zadanie 19

In [3]:
def sum_of_odd_numbers(n):
    """Calculates sum of odd numbers (reculsively)
    
    Args:
        n: int - natural number
        
    Returns:
        Sum of odd numbers in the interval [1, n]
    
    """
    if n == 1: return 1
    if n == 2: return 1
    
    if n % 2 == 0: 
        return sum_of_odd_numbers(n-1)
    
    return n + sum_of_odd_numbers(n-2)

In [13]:
list1 = [sum(range(1, n+1, 2)) for n in range(1, 100)]
list2 = [sum_of_odd_numbers(n) for n in range(1, 100)]

print(list(zip(list1, list2)))

[(1, 1), (1, 1), (4, 4), (4, 4), (9, 9), (9, 9), (16, 16), (16, 16), (25, 25), (25, 25), (36, 36), (36, 36), (49, 49), (49, 49), (64, 64), (64, 64), (81, 81), (81, 81), (100, 100), (100, 100), (121, 121), (121, 121), (144, 144), (144, 144), (169, 169), (169, 169), (196, 196), (196, 196), (225, 225), (225, 225), (256, 256), (256, 256), (289, 289), (289, 289), (324, 324), (324, 324), (361, 361), (361, 361), (400, 400), (400, 400), (441, 441), (441, 441), (484, 484), (484, 484), (529, 529), (529, 529), (576, 576), (576, 576), (625, 625), (625, 625), (676, 676), (676, 676), (729, 729), (729, 729), (784, 784), (784, 784), (841, 841), (841, 841), (900, 900), (900, 900), (961, 961), (961, 961), (1024, 1024), (1024, 1024), (1089, 1089), (1089, 1089), (1156, 1156), (1156, 1156), (1225, 1225), (1225, 1225), (1296, 1296), (1296, 1296), (1369, 1369), (1369, 1369), (1444, 1444), (1444, 1444), (1521, 1521), (1521, 1521), (1600, 1600), (1600, 1600), (1681, 1681), (1681, 1681), (1764, 1764), (1764, 1764), (1849, 1849), (1849, 1849), (1936, 1936), (1936, 1936), (2025, 2025), (2025, 2025), (2116, 2116), (2116, 2116), (2209, 2209), (2209, 2209), (2304, 2304), (2304, 2304), (2401, 2401), (2401, 2401), (2500, 2500)]

[1,
 1,
 4,
 4,
 9,
 9,
 16,
 16,
 25,
 25,
 36,
 36,
 49,
 49,
 64,
 64,
 81,
 81,
 100,
 100,
 121,
 121,
 144,
 144,
 169,
 169,
 196,
 196,
 225,
 225,
 256,
 256,
 289,
 289,
 324,
 324,
 361,
 361,
 400,
 400,
 441,
 441,
 484,
 484,
 529,
 529,
 576,
 576,
 625,
 625,
 676,
 676,
 729,
 729,
 784,
 784,
 841,
 841,
 900,
 900,
 961,
 961,
 1024,
 1024,
 1089,
 1089,
 1156,
 1156,
 1225,
 1225,
 1296,
 1296,
 1369,
 1369,
 1444,
 1444,
 1521,
 1521,
 1600,
 1600,
 1681,
 1681,
 1764,
 1764,
 1849,
 1849,
 1936,
 1936,
 2025,
 2025,
 2116,
 2116,
 2209,
 2209,
 2304,
 2304,
 2401,
 2401,
 2500]

# Zadanie 29

In [28]:
def eratosthenes_sieve(n):
    """Implements Eratosthenes sieve
    
    Args:
        n: int - natural number >= 2
    Returns:
        Primes in the interval [2, n]"""
    
    primes = set(range(2, n+1))
    for divisor in range(2, int(n ** 0.5) + 1):
        primes = primes - set(range(divisor*2, n+1, divisor))
    
    return primes

In [27]:
eratosthenes_sieve(1000)

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997}

In [7]:
A = {1, 2, 3, 4}
B = {3, 4, 7, 8}

In [9]:
A.union(B), A | B

({1, 2, 3, 4, 7, 8}, {1, 2, 3, 4, 7, 8})

In [11]:
A.intersection(B), A & B

({3, 4}, {3, 4})

In [13]:
A.difference(B), A - B

({1, 2}, {1, 2})

In [36]:
set(range(2, 100))

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}